<div class="note-list">
  <select class="note-list__sort custom-select mb-3" [value]="currentSortMode" (change)="onSortChanged($event.target.options[$event.target.options.selectedIndex].value)">
    <option class="" *ngFor="let sortMode of sortModes" [value]="sortModeValues[sortMode]">{{ sortMode }}</option>
  </select>
  <ul class="note-list__list row">
    <li class="note-list__note col-sm-6 col-md-4 col-xl-3" *ngFor="let note of noteList">
      <nb-note [note]="note"></nb-note>
    </li>
  </ul>
</div>